* {
    margin: 0px;
    padding: 0px;
}

#nevigation {padding: 10px 0px ;
    height: 60px;
    background-color: #0f1111;

}

a {
    color: white;
    text-decoration: none;
    margin-right: 200px;
}
#logo{
color: #f08804;
font-size: 25px;
}

button{ color: white;
    background-color: #f08804;
    width: 60px;
    border: solid  orange;
}